:root{
    --fuenteHeadings: 'Roboto', sans-serif;
    --fuenteTerminos: 'Montserrat', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --fuenteRostros: 'Pattaya', sans-serif;


    --colorPrimario: #0DBDF5;
    --colorPrimarioOscuro: #13a5d1;
    --colorBlanco: #FFFFFF;
    --colorGris: #E1E1E1;
    --colorGrisOscuro: #808080;
    --colorGrisOscuroBack: #9c9c9c;
    --colorNegro: #000000;
    --colorMorado: #5A4674;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /*10px equivalen a 10rem*/
}

*, *:after, *:before{
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* Estilos Globales */

.contenedor{
    width: min(95%, 120rem);
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4{
    font-family: var(--fuenteHeadings);
    line-height: 1.2;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
}

/* Clases de utilidades */

.myt-7{
    margin-top: 7rem;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align:center;
}

.bold{
    font-weight: bold;
}

/* /////////////////// Registro ////////////////// */

.contenedor,
.contenedor--form{
    width: 90%;
    margin: 0 auto;
}



@media (min-width: 768px) {
    .layout__grid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-auto-flow: column;
    }
    
    .grid__sidebar{
        grid-column: 1 / 2;
        background-color: var(--colorPrimario);  
        color: var(--colorBlanco);
        padding: 4rem;
        height: 110vh;
    }
    
    .contenedor--form{
        width: min(60%, 120rem);
        margin: 0 auto;
        
    }
}


.text-rostros{
    font-family: var(--fuenteRostros);
    font-size: 3.5rem;
}

.cita__sidebar{
    font-size: 3rem;
    font-family: var(--fuenteParrafos);
    font-weight: 700;
    line-height: 1.2;
}

.foto__sidebar{
    margin-top: 3rem;
}

.label{
    display: block;
}

.input{
    margin-bottom: 2rem;
}

.input-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.input-group--tres{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.input-style{
    width: 100%;
    height: 5rem;
    background-color: var(--colorGris);
    border: none;
}

.check{
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
}

.check__textazul{
    color: var(--colorPrimarioOscuro);
}

.captcha{
    margin: 2rem 0 2rem 0;
}

.grid__botones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 3rem;
}

.boton{
    padding: 2rem;
    border: none;
}

.boton--primario{
    background-color: var(--colorPrimario);
    color: var(--colorBlanco);
    font-size: 1.7rem;
    font-weight: bold;
}

.boton--primario:hover{
    background-color: var(--colorPrimarioOscuro);
}

.boton--secundario{
    background-color: var(--colorBlanco);
    border: 2px solid var(--colorPrimario);
    color: var(--colorPrimario);
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
}

.boton--secundario:hover{
    background-color: var(--colorPrimarioOscuro);
    color: var(--colorBlanco);
    border: 2px solid var(--colorBlanco);
}

/* //////////////// .Registro /////////////////////*/

/* //////////////// Login /////////////////////////*/

@media (min-width: 768px) {
    .layout__grid--login{
        
        grid-template-columns: 2fr 1fr;
        grid-auto-flow: column;
    }
    
    .grid__sidebar--login{
        grid-column: 2 / 3;
        height: 100vh;
    }

    .grid__formulario--login{
        grid-column: 1 / 2;
    }

}

.enlace{
    display: block;
    color: var(--colorNegro);
    text-align: center;
    margin-bottom: 3rem;
}

.centrar-bloque{
    display: block;
    width: 50%;
    margin: 0 auto 3rem auto;
}

/* //////////////// .Login /////////////////////////*/

/* //////////////// Recuperar Contraseña /////////////////////////*/

.contenedor__pass{
    max-width: 100rem;
    margin: 10rem auto;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    width: 75%;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.17);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.17);
    padding-bottom: 7rem;
}

.rcontra__logoazul{
    width: 10rem;
    margin: 7rem auto;
    display: block;
}

.input-style--rcontra{
    width: 60%;
    display: block;
    margin: 0 auto;
}

.label--rcontra{
    text-align: center;
}

.boton--rcontra{
    margin-top: 5rem;
}

/* //////////////// .Recuperar Contraseña /////////////////////////*/

/* //////////////// Mantenimiento /////////////////////////*/

.texto__azul{
    font-family: var(--fuenteHeadings);
    font-weight: 700;
    color: var(--colorPrimarioOscuro);
    font-size: 3rem;
    text-align: center;
}

.texto__negro{
    text-align: justify;
    margin: 0 auto;
}

.texto__azul--grande{
    font-size: 5rem;
}

.grid__contain--text{
    max-width: 70%;
    margin: 0 auto;
}


@media (min-width: 768px) {
    .layout__grid--maintenance{
        margin-top: 12rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .imagen__mantenimiento{
        width: 90%;
    }

    .texto__azul{
        font-size: 7rem;
        line-height: 0.1;  
    }
    
    
    
    
    .texto__azul--grande{
        font-size: 20rem;
    }
}

/* //////////////// .Mantenimiento /////////////////////////*/

/* //////////////// 404 /////////////////////////*/

.background__nofound{
    display: flex;
    background-image: url(../img/fondo4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nofound__titulo{
    font-family: var(--fuenteHeadings);
    font-weight: 700;
    color: var(--colorBlanco);
    font-size: 10rem;
}

.nofound__parrafo{
    color: var(--colorBlanco);
    font-size: 2rem;
}

.nofound__button{
    padding: 1rem;
    border-radius: 5rem;
    background-color: transparent;
    color: var(--colorBlanco);
    border: 1px solid var(--colorBlanco);
}

@media (min-width: 768px) {
      
    .nofound__titulo{
        font-size: 22rem;
    }
    
    .nofound__parrafo{
        color: var(--colorBlanco);
        font-size: 5rem;
    }
    
    .nofound__button{
        padding: 2rem;
        border-radius: 5rem;
        background-color: transparent;
        color: var(--colorBlanco);
        border: 1px solid var(--colorBlanco);
    }
    
    
    .nofound__button:hover{
        background-color: var(--colorBlanco);
        color: var(--colorMorado);
    }
}

/* //////////////// .404 /////////////////////////*/

/* //////////////// Politicas y Servicios /////////////////////////*/

    .grid__sidebarnav{
        background-color: var(--colorGris);
        text-align: center;
    }

    @media (min-width: 768px) {
        .grid__sidebarnav{
            padding: 5rem;
            height: 100vh;
            text-align: left;
            font-size: 2rem;
            font-family: var(--fuenteParrafos);
        }
    }


    .block{
        display: grid;
        padding: 2rem;
    }

    .grid__enlace{
        padding-left: 1rem;
        color: var(--colorGrisOscuro);
    }

    a.grid__enlace:hover{
        background-color: var(--colorGrisOscuroBack);
        color: var(--colorBlanco);
    }

    .main__imagen{
        display: block;
        width: 18rem;
        margin: 0 auto;
    }

    @media (min-width: 768px) {
        .main__imagen{
            width: 45rem;
        }
    }

    /*Estilos acordeon*/

    .accordion {
        background-color: var(--colorGris);
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: center;
        border: none;
        outline: none;
        transition: 0.4s;
    }
    

    .active, .accordion:hover {
        background-color: var(--colorGrisOscuroBack);
    }
    
    .panel {
        padding: 0 18px;
        background-color: var(--colorBlanco);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
/* //////////////// .Politicas y Servicios /////////////////////////*/






















